*{
    margin: 0;
    padding: 0;
}
h1{
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(207, 168, 110);
    padding: 50px;
  }
  div{
    
    background-color: rgb(152, 197, 182);
     
  }
   
  table{
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
  }
  
  td, th {
    border: 1px solid #8a7777;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #bdacac;
  }
  h3{
    background-color: rgb(184, 201, 37); text-align: center; padding: 1%;
  }
  h2{
    text-align: center;
    background-color: black;
    color: rgb(207, 197, 46);
  }